<nav class="navbar navbar-light px-4 z-10 bg-[#141414]">
  <div class="container-fluid d-flex align-items-center">
    <!-- Navbar Brand with Logo -->
    <div class="navbar-brand align-items-center flex gap-5">
      <img width="110" src="/assets/netflix_logo.png" alt="Netflix Logo" class="me-3">
      <ul class="flex items-center" *ngFor="let item of navList" class="text-white text-lg">
        <a [routerLink]="item.link">{{item.name}}</a>
      </ul>
    </div>

    <!-- Navbar Toggler Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"></button>

    <div class="text-white flex items-center gap-4">
      <div class="flex items-center gap-2">
          <a><span>{{ greeting }} <strong>{{userName}}</strong></span></a>
          <img class="rounded-[50%]" [src]="userImg" width="42" alt="user-image">
      </div>
      &nbsp; | &nbsp;
      <a [routerLink]="['/login']">Sign out</a>
   </div>
    </div>
</nav>