<header class="h-[60px] z-10 bg-[#141414] sticky top-0 flex items-center justify-between px-10">
    <!-- Logo & Navigation Bar items -->
    <div class="flex gap-5">
        <img width="110" src="/assets/netflix_logo.png" alt="netflix-logo">
        <ul class="flex items-center" *ngFor="let item of navList">
            <li class="text-neutral-200 cursor-pointer text-sm font-extralight hover:text-gray-400 transition-[1s]">{{item}}</li>
        </ul>
    </div>

    <!-- Welcome User | Profile Image | Signout Button-->
     <div class="text-white flex items-center gap-4">
        <div class="flex items-center gap-2">
            <a><span>{{ greeting }} <strong>{{userName}}</strong></span></a>
            <img class="rounded-[50%]" [src]="userImg" width="42" alt="user-image">
        </div>
        &nbsp; | &nbsp;
        <a href="/">Sign out</a>
     </div>
</header>
