#ok_content_widget {
    iframe {
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
  
    p {
      text-align: center;
      font-weight: bold;
      margin-top: 10px;
    }
  }
  